In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
def pivot_trends(df :pd.DataFrame, pivot: str, trend: str, split :str = None):
    """
    This method analyzes the port- and route-traffic trends from the given data, for a given
    traffic type specification, and the "time" trend to be analyzed.

    Parameters:
    -----------
    df :pd.DataFrame
        The dataset containing the traffic data.
    pivot :str
        The pivot refers to the ports/given category with which the data is "pivoted" around or centered around.
    trend :str
        The temporal grouping of the trend (5): "MonthYear", "QuarterYear", "Year" AND "MonthNum", "Quarter" (for seasonal shifts).
    """
    if trend == "QuarterYear":
        df[trend] = df["Year"].astype(str) + "-Q" + df["Quarter"].astype(str)

    ref = "ForeignPort" if pivot == "AustralianPort" else "AustralianPort"

    # --- Trend 1-4: Count of Unique Ports (C.O.U.P) being interacted with ---
    if split is None:
        trend1 = (df.groupby([trend, pivot])[ref].nunique()
              .reset_index(name="COUP"))

        num = len(trend1[pivot].unique())
        hls_colors = sns.husl_palette(n_colors=num, s=1, l=0.5)
        colors = [hls_colors[i % num] for i in range(0, num, 2)] + [hls_colors[i] for i in range(1, num, 2)]

        plt.figure(figsize=(12,6))
        for i, port in enumerate(trend1[pivot].unique()):
            port_data = trend1[trend1[pivot] == port]
            plt.plot(port_data[trend], port_data["COUP"], marker="o", label=port, color=colors[i])

        plt.title(f"Count of Unique Ports (COUP) per {pivot} over {trend}")
        plt.xlabel(trend)
        plt.ylabel("COUP")
        plt.legend(title=pivot, bbox_to_anchor=(1.05, 1), loc='upper left')
        plt.xticks(rotation=45)
        plt.tight_layout()
        plt.show()

    else:
        trend1 = (df.groupby([trend, pivot, split])[ref].nunique()
              .reset_index(name="COUP"))

        for country in trend1[split].unique():
            country_data = trend1[trend1[split] == country]

            num = len(country_data[pivot].unique())
            hls_colors = sns.husl_palette(n_colors=num, s=1, l=0.5)
            colors = [hls_colors[i % num] for i in range(0, num, 2)] + \
                     [hls_colors[i] for i in range(1, num, 2)]

            plt.figure(figsize=(12,6))
            for i, port in enumerate(country_data[pivot].unique()):
                port_data = country_data[country_data[pivot] == port]
                plt.plot(port_data[trend], port_data["COUP"],
                         marker="o", label=port, color=colors[i])

            plt.title(f"Unique {pivot} per {trend} in {country}")
            plt.xlabel(trend)
            plt.ylabel("COUP")
            plt.legend(title=pivot, bbox_to_anchor=(1.05, 1), loc='upper left')
            plt.xticks(rotation=45)
            plt.tight_layout()
            plt.show()

In [82]:
df = pd.read_csv("../data/aeroconnect_cleaned.csv")

traffic = ["PassengersTotal", "FreightTotal", "MailTotal"]
trend = ["MonthYear", "QuarterYear", "Year", "MonthNum", "Quarter"]

pivot_trends(df, pivot="AustralianPort", trend="QuarterYear")
pivot_trends(df, pivot="ForeignPort", trend="Year", split="Country")
# (df, pivot="Country", trend="Year", split="Continent")
pivot_trends(df, pivot="Continent", trend="QuarterYear")

In [95]:
def traffic_trends_58(df :pd.DataFrame, pivot: str, traffic :str, trend: str, split :str = None):
    """
    This method analyzes the port- and route-traffic trends from the given data, for a given
    traffic type specification, and the "time" trend to be analyzed.

    Parameters:
    -----------
    df :pd.DataFrame
        The dataset containing the traffic data.
    pivot :str
        The pivot refers to the ports/given category with which the data is "pivoted" around or centered around.
    trend :str
        The temporal grouping of the trend (5): "MonthYear", "QuarterYear", "Year" AND "MonthNum", "Quarter" (for seasonal shifts).
    """
    if trend == "QuarterYear":
        df[trend] = df["Year"].astype(str) + "-Q" + df["Quarter"].astype(str)

    # --- Trend 5-8: Activity of Port in terms of "Traffic" ---
    if split is None:
        trend_df = (df.groupby([trend, pivot])[traffic].sum()
          .reset_index(name="TrafficSum"))

        num = len(trend_df[pivot].unique())
        hls_colors = sns.husl_palette(n_colors=num, s=1, l=0.5)
        colors = [hls_colors[i % num] for i in range(0, num, 2)] + [hls_colors[i] for i in range(1, num, 2)]

        plt.figure(figsize=(12,6))
        for i, port in enumerate(trend_df[pivot].unique()):
            port_data = trend_df[trend_df[pivot] == port]
            plt.plot(port_data[trend], port_data["TrafficSum"], marker="o", label=port, color=colors[i])

        plt.title(f"Sum of {traffic} per {pivot} over {trend}")
        plt.xlabel(trend)
        plt.ylabel(f"Total {traffic}")
        plt.legend(title=pivot, bbox_to_anchor=(1.05, 1), loc='upper left')
        plt.xticks(rotation=45)
        plt.tight_layout()
        plt.show()

    else:
        trend_df = (df.groupby([trend, pivot, split])[traffic].sum().reset_index(name="TrafficSum"))

        for country in trend_df[split].unique():
            country_data = trend_df[trend_df[split] == country]

            num = len(country_data[pivot].unique())
            hls_colors = sns.husl_palette(n_colors=num, s=1, l=0.5)
            colors = [hls_colors[i % num] for i in range(0, num, 2)] + \
                     [hls_colors[i] for i in range(1, num, 2)]

            plt.figure(figsize=(12,6))
            for i, port in enumerate(country_data[pivot].unique()):
                port_data = country_data[country_data[pivot] == port]
                plt.plot(port_data[trend], port_data["TrafficSum"], marker="o", label=port,
                         color=colors[i])

            plt.title(f"Unique {pivot} per {trend} in {country}")
            plt.xlabel(trend)
            plt.ylabel(f"TrafficSum for {traffic}")
            plt.legend(title=pivot, bbox_to_anchor=(1.05, 1), loc='upper left')
            plt.xticks(rotation=45)
            plt.tight_layout()
            plt.show()

In [102]:
# Trend-5
traffic_trends_58(df, pivot="AustralianPort", traffic="PassengersTotal", trend="QuarterYear")
traffic_trends_58(df, pivot="AustralianPort", traffic="FreightTotal", trend="QuarterYear")
traffic_trends_58(df, pivot="AustralianPort", traffic="MailTotal", trend="QuarterYear")

traffic_trends_58(df, pivot="ForeignPort", traffic="PassengersTotal", trend="QuarterYear", split="Country")
traffic_trends_58(df, pivot="Country", traffic="PassengersTotal", trend="QuarterYear", split="Continent")
traffic_trends_58(df, pivot="Continent", traffic="PassengersTotal", trend="QuarterYear")

In [135]:
# Trend-9
route_df = (df.groupby(["AustralianPort", "ForeignPort"])["MailTotal"].sum()
            .reset_index(name="TrafficSum"))

route_df = route_df.sort_values(by="TrafficSum", ascending=False)
route_df.head(10)
route_df.tail(10)

    AustralianPort    ForeignPort  TrafficSum
228         Sydney       Auckland    3280.777
258         Sydney         London    2709.269
281         Sydney          Tokyo    2423.636
278         Sydney  San Francisco    2127.115
162      Melbourne         London    1780.704
244         Sydney      Frankfurt    1320.121
274         Sydney   Port Moresby    1220.215
153      Melbourne      Frankfurt    1201.324
178      Melbourne  San Francisco    1160.366
280         Sydney      Singapore    1147.666

In [160]:
# Trend-10
route_df = (df.groupby(["AustralianPort", "Country"])["MailTotal"].sum()
            .reset_index(name="TrafficSum"))

route_df = route_df.sort_values(by="TrafficSum", ascending=False)
route_df.head(10)
route_df.tail(10)

    AustralianPort           Country  TrafficSum
40        Brisbane     New Caledonia       0.090
57          Cairns            Canada       0.076
84          Darwin             Italy       0.063
12        Adelaide          Malaysia       0.060
141          Perth            Greece       0.040
..             ...               ...         ...
152          Perth  Papua New Guinea       0.000
151          Perth              Oman       0.000
76          Darwin           Bahrain       0.000
78          Darwin            Cyprus       0.000
221     Townsville        Yugoslavia       0.000

[100 rows x 3 columns]

In [174]:
# Trend-11
route_df = (df.groupby(["AustralianPort", "Continent"])["MailTotal"].sum()
            .reset_index(name="TrafficSum"))

route_df = route_df.sort_values(by="TrafficSum", ascending=False)
route_df.tail(19)

   AustralianPort      Continent  TrafficSum
12         Cairns  North America      10.512
3        Adelaide  North America       9.161
14         Darwin           Asia       8.950
10         Cairns           Asia       7.864
11         Cairns         Europe       6.662
38         Sydney  South America       5.429
19         Hobart        Oceania       4.563
16         Darwin        Oceania       2.054
0        Adelaide         Africa       0.009
42     Townsville        Oceania       0.005
32   Port Hedland           Asia       0.000
25      Melbourne  South America       0.000
20      Melbourne         Africa       0.000
18         Hobart  North America       0.000
17         Hobart           Asia       0.000
5        Brisbane         Africa       0.000
39     Townsville           Asia       0.000
40     Townsville         Europe       0.000
41     Townsville  North America       0.000