In [4]:
import pandas as pd
import matplotlib.pyplot as plt

def traffic_trends(df :pd.DataFrame, traffic: str, trend: str):
    """
    This method analyzes the port- and route-traffic trends from the given data, for a given
    traffic type specification, and the "time" trend to be analyzed.

    Parameters:
    -----------
    df :pd.DataFrame
        The dataset containing the traffic data.
    traffic :str
        The metric to analyze (3): "PassengersTotal", "FreightTotal" or "MailTotal".
    trend :str
        The temporal grouping of the trend (5): "MonthYear", "QuarterYear", "Year" AND "MonthNum", "Quarter" (for seasonal shifts).
    """
    if trend == "QuarterYear":
        # TODO: Do it.
    else:
        # TODO: Go by trend!

,Month,AustralianPort,ForeignPort,Country,PassengersIn,FreightIn,MailIn,PassengersOut,FreightOut,MailOut,PassengersTotal,FreightTotal,MailTotal,Year,MonthNum,Quarter,MonthYear,Continent,Route
0,Jan-85,Adelaide,Auckland,New Zealand,1513,42.167,0.311,985,18.704,0.924,2498,60.871,1.235,1985,1,1,1985-01-01,Oceania,Adelaide-Auckland
1,Jan-85,Adelaide,Bahrain,Bahrain,12,0.000,0.000,5,0.033,0.000,17,0.033,0.000,1985,1,1,1985-01-01,Asia,Adelaide-Bahrain
2,Jan-85,Adelaide,Bombay,India,7,0.000,0.000,5,0.000,0.000,12,0.000,0.000,1985,1,1,1985-01-01,Asia,Adelaide-Bombay
3,Jan-85,Adelaide,Frankfurt,Germany,115,0.009,0.000,171,0.000,0.248,286,0.009,0.248,1985,1,1,1985-01-01,Europe,Adelaide-Frankfurt
4,Jan-85,Adelaide,London,UK,1567,2.800,0.000,1472,10.618,2.487,3039,13.418,2.487,1985,1,1,1985-01-01,Europe,Adelaide-London